<div
  class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16"
>
  <h3>Modifier</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<mat-dialog-content>
  <mat-card class="m-3">
    @if(rootFields.length > 0) {
    <mat-card-content>
      <h4 class="f-s-16 m-0 f-w-600 m-b-16">Informations Générales</h4>

      @for(field of rootFields; track field) {
      <div class="row m-b-16">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="f-s-14 f-w-600 d-block m-b-8">{{
            field | titlecase
          }}</mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <ng-container *ngIf="field.includes('date'); else textInput">
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="document[field]"
                (ngModelChange)="setColumnValue(field, $event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </ng-container>

            <ng-template #textInput>
              <input
                type="text"
                matInput
                [ngModel]="getColumnValue(field)"
                (ngModelChange)="setColumnValue(field, $event)"
              />
            </ng-template>
          </mat-form-field>
        </div>
      </div>
      }
    </mat-card-content>
    } @for(groupName of Object.keys(groupedFields); track groupName) {
    <mat-card-content
      class="b-t-1"
      [ngStyle]="{
        'margin-left': (groupName.split('.').length - 1) * 15 + 'px'
      }"
    >
      <h4 class="f-s-16 m-0 f-w-600 m-b-16">
        {{ groupName.split(".").pop() | titlecase }}
      </h4>

      @for(field of groupedFields[groupName]; track field) {
      <div class="row m-b-16">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="f-s-14 f-w-600 d-block m-b-8">
            {{ field.split(".").pop() | titlecase }}
          </mat-label>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <ng-container *ngIf="field.includes('date'); else textInputGroup">
              <input
                matInput
                [matDatepicker]="picker2"
                [ngModel]="getColumnValue(field)"
                (ngModelChange)="setColumnValue(field, $event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </ng-container>

            <ng-template #textInputGroup>
              <input
                type="text"
                matInput
                [ngModel]="getColumnValue(field)"
                (ngModelChange)="setColumnValue(field, $event)"
              />
            </ng-template>
          </mat-form-field>
        </div>
      </div>
      }
    </mat-card-content>
    }

    <mat-card-content class="b-t-1">
      <div class="row justify-content-end">
        <div class="col-sm-12 d-flex justify-content-end">
          <button
            mat-flat-button
            class="bg-primary text-white m-r-8"
            (click)="onItemClick('EDIT')"
          >
            Modifier
          </button>
          <button
            mat-flat-button
            class="bg-light-error text-error"
            (click)="onItemClick('CANCEL')"
          >
            Annuler
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
