html.light-theme {
  color-scheme: dark;
  --mat-sys-corner-small: 10px;
  --mat-sys-background: #0F1319;
  --mat-sys-surface-bright: #1C222E;
  --mat-sys-surface: #161B24;
  --mat-sys-surface-container: #161B24;
  --mat-sys-surface-container-low: #161B24;
  --mat-sys-surface-container-lowest: #565F72;
  --mat-sys-on-background: #E8ECF4;
  --mat-sys-on-primary: #0B0E14;
  --mat-sys-outline: rgba(255, 255, 255, 0.06);
  --mat-sys-outline-variant: rgba(255, 255, 255, 0.06);
  --mdc-outlined-text-field-hover-outline-color: rgba(255, 255, 255, 0.1);
  --mdc-checkbox-unselected-hover-state-layer-color: rgba(255, 255, 255, 0.06);
  --mat-menu-item-hover-state-layer-color: rgba(212, 168, 83, 0.06);
  --mat-standard-button-toggle-state-layer-color: rgba(212, 168, 83, 0.06);
  --mat-option-focus-state-layer-color: rgba(212, 168, 83, 0.06);
  --mat-option-hover-state-layer-color: rgba(212, 168, 83, 0.06);
  --mdc-switch-unselected-track-color: #232A38;
  --mat-stepper-header-focus-state-layer-color: rgba(212, 168, 83, 0.06);
  --mat-stepper-header-hover-state-layer-color: rgba(212, 168, 83, 0.06);
  --mdc-dialog-supporting-text-color: #E8ECF4;
  --mat-expansion-header-hover-state-layer-color: rgba(212, 168, 83, 0.06);
}
