<mat-dialog-content>
  <pdf-viewer
    src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
    [render-text]="true"
    [original-size]="false"
  ></pdf-viewer>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end gap-8 p-x-24 p-b-16">
  <button
    mat-flat-button
    class="bg-light-error text-error"
    (click)="closeDialog()"
  >
    Annuler
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="closeDialog()"
  >
    Telecharger
  </button>
</mat-dialog-actions>
